<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>

</head>

<body>
    <main id='main-content' class="flex h-dvh">

        <!-- #region sidebar-->
        <div th:replace="~{fragments/sidebar.html :: sidebar-fragment}"></div>
        <!-- #endregion -->
        <div class="flex-1 h-screen overflow-y-scroll overflow-x-hidden">

            <div th:replace="~{fragments/header.html :: 
                              header-info('Categorias','Productos > Categorias registradas')}"></div>
            <div class="container">

                <div th:replace="~{fragments/search.html :: search-fragment('categorias', 'Cuidado personal ...')}">
                </div>

                <div class="filters-container">
                    <span class="filter-label">Filtrar por:</span>
                    <div class="filter-row">
                        <div class="filter-group">
                            <label>Estado:</label>
                            <select id="filtroEstado" onchange="aplicarFiltros()">
                                <option value="all">Todos</option>
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre de Categoría</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Fecha de Creación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${listaCategorias}">
                                <td th:text="${c.idCategoria}"></td>
                                <td th:text="${c.nombreCategoria}"></td>
                                <td th:text="${c.descripcion}"></td>

                                <td data-label="Estado">
                                    <span th:classappend="${c.estado == 'Activo' ? 'activo' : 'inactivo'}"
                                        th:text="${c.estado}"></span>
                                </td>

                                <td th:text="${c.fechaRegistro}"></td>

                                <td>
                                    <a th:href="@{/categorias/editar/{id}(id=${c.idCategoria})}" class="btn-editar">✏
                                        Editar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="botones-contenedor">
                    <button class="btn-nuevo" onclick="registrar('modalCategoria')">Nueva Categoría</button>
                </div>
            </div>
        </div>

        <dialog id="modalCategoria">
            <div class="modal-header">
                <h2>Registrar Categoría</h2>
            </div>

            <form class="modal-body" th:action="@{/categorias/save}" th:object="${categoria}" method="post">

                <div class="form-grid">

                    <!-- Nombre de la categoría -->
                    <div class="form-group">
                        <label for="nombreCategoria">Nombre de la categoría</label>
                        <input type="text" th:field="*{nombreCategoria}" class="form-input" placeholder="Categoría"
                            required>
                    </div>

                    <!-- Estado -->
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select th:field="*{estado}" class="form-select" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>

                    <!-- Descripción -->
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea th:field="*{descripcion}" class="form-textarea" placeholder="breve_descripción"
                            required></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-cancelar"
                        onclick="document.getElementById('modalCategoria').close()">Cancelar</button>
                    <button type="submit" class="btn-registrar">Registrar</button>
                </div>
            </form>
        </dialog>
    </main>
</body>

</html>