<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Roles</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" th:href="@{/styles.css}">
<script th:src="@{/script.js}"></script>
</head>

<body>
    <main id='main-content' class="flex h-dvh">
        <!-- #region sidebar-->
        <div th:replace="~{fragments/sidebar.html :: sidebar-fragment}"></div>
        <!-- #endregion -->

        <div class="flex-1 h-screen overflow-y-scroll overflow-x-hidden">

            <div th:replace="~{fragments/header.html :: 
                              header-info('Roles','Seguridad > Roles del sistema')}"></div>

            <div class="container">
                <h1 class="text-xl font-black text-wrap my-2 sm:text-2xl">Roles registrados</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Creado</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e : ${lista_roles}">
                            <td th:text="${e.idRol}"></td>
                            <td th:text="${e.nombreRol}"></td>
                            <td th:text="${e.descripcion}"></td>
                            <td th:text="${e.fechaCreación}"></td>
                            <td th:text="${e.estado}"></td>
                            <td>
                                <form th:action="@{/roles/editar/{id}(id=${e.idRol})}" method="get">
                                    <button class="btn-editar" type="submit">Editar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn-nuevo" onclick="registrar('modalRol')">Nuevo Rol</button>
            </div>
        </div>


        <dialog id="modalRol">
            <div class="modal-header">
                <h2>Registrar Rol</h2>
            </div>

            <form class="modal-body" th:object="${rol}" th:action="@{/roles}" method="post">
                <!-- Nombre del rol -->
                <div class="form-group">
                    <label for="nombreRol">Nombre del rol</label>
                    <input type="text" th:field="*{nombreRol}" class="form-input" placeholder="Rol" required>
                </div>

                <!-- Estado -->
                <div class="form-group">
                    <label for="descripcion">Descripción (Opcional)</label>
                    <input type="text" th:field="*{descripcion}" class="form-input">
                </div>

                <!-- Permisos -->
                <div class="flex flex-col my-3 ">
                    <label for="permisos" class="font-bold text-sm">Permisos</label>
                    <div class="mt-2 border-2 pt-2 overflow-y-scroll h-64 border-purple-900 flex flex-col rounded-md">
                        <div th:each=" permiso: ${permisos}">
                            <div th:replace="~{fragments/item-checkbox.html :: item-checkbox(${permiso})}"></div>
                        </div>
                    </div>
                </div>

                <!-- Botones -->
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar"
                        onclick="(document.getElementById('modalRol').close())">Cancelar</button>
                    <button type="submit" class="btn-registrar">Registrar</button>
            </form>
            </div>
        </dialog>

    </main>

</body>

</html>