<div th:fragment="sidebar-fragment">
    <!-- #region styles-->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .css-bg-sidebar {
            background-color: #2A2359;
        }

        .css-scrollbar-none::-webkit-scrollbar {
            display: none;
        }

        @media (width<=425px) {

            #sidebar-toggle,
            #cerrar-boton {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #sidebar {
                display: none;
            }

            #sidebar.open {
                display: block;
                width: 100vw;
            }

            #sidebar>section {
                max-width: 60rem;
            }

            #sidebar #sidebar-items {
                align-items: center;
            }
        }
    </style>
    <!-- #endregion -->

    <!-- Sidebar -->
    <section id="sidebar"
        class="css-bg-sidebar flex flex-col pl-2 pr-2 h-dvh overflow-y-auto overflow-x-hidden css-scrollbar-none">
        <!-- User Info -->
        <section class="flex-initial flex flex-row items-center justify-around pl-2 h-24 gap-1 max-w-52">
            <img th:src="@{/img/menu-principal/profile.png}" alt="user-icon" class="size-12 rounded-2xl" />
            <div class="flex flex-col justify-around p-5 h-24 text-white">
                <h2 class="font-black text-lg">CERVAN CABRERA</h2>
                <p class="font-semibold text-sm">Admin</p>
            </div>
            <div class="px-2 hidden text-black bg-white font-bold border-2 rounded-lg cursor-pointer" id="cerrar-boton"
                onclick="cerrarSidebar()">
                Ocultar
            </div>
        </section>

        <hr class="flex-initial mt-2" />

        <section class="flex-1 flex flex-col gap-1.5 pt-3 text-white font-semibold" id="sidebar-items">
            <!-- Dashboard -->
            <a th:href="@{/home}"
                class="my-1.5 css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform">
                <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                    <img th:src="@{/img/menu-principal/home.png}" alt="Dashboard-icon" class="size-7" />
                    <p>Dashboard</p>
                </div>
            </a>

            <!-- Seguridad -->
            <details class="my-1.5" name="sidebar-menu">
                <summary class="css-bg-sidebar flex items-center justify-between pr-4 
                        hover:bg-slate-950 rounded-xl cursor-pointer 
                        hover:scale-110 transition-transform list-none">
                    <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                        <img th:src="@{/img/menu-principal/account-image.png}" alt="Seguridad-icon" class="size-7" />
                        <p>Seguridad</p>
                    </div>
                </summary>
                <ul class="text-wrap w-48 text-sm">
                    <a th:href="@{/usuarios}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Usuarios</li>
                    </a>
                    <a th:href="@{/roles}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Roles</li>
                    </a>
                </ul>
            </details>

            <!-- Productos -->
            <details class="my-1.5" name="sidebar-menu">
                <summary
                    class="css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform list-none">
                    <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                        <img th:src="@{/img/menu-principal/package.png}" alt="Productos-icon" class="size-7" />
                        <p>Productos</p>
                    </div>
                </summary>
                <ul class="text-wrap w-48 text-sm">
                    <a th:href="@{/productos}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Productos</li>
                    </a>
                    <a th:href="@{/marcas}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Marcas</li>
                    </a>
                    <a th:href="@{/categorias}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Categorias</li>
                    </a>
                    <a th:href="@{/presentaciones}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Presentaciones</li>
                    </a>
                    <a th:href="@{/laboratorios}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Laboratorios</li>
                    </a>
                </ul>
            </details>

            <!-- Compras -->
            <details class="my-1.5" name="sidebar-menu">
                <summary
                    class="css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform list-none">
                    <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                        <img th:src="@{/img/menu-principal/car-shopping.png}" alt="Compras-icon" class="size-7" />
                        <p>Compras</p>
                    </div>
                </summary>
                <ul class="text-wrap w-48 text-sm">
                    <a th:href="@{/compras}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                         hover:scale-105 transition-transform">
                            Compras</li>
                    </a>
                    <a th:href="@{/proveedores}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Proveedores</li>
                    </a>
                </ul>
            </details>

            <!-- Ventas -->
            <a th:href="@{/ventas}"
                class="my-1.5 css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform">
                <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                    <img th:src="@{/img/menu-principal/cash.png}" alt="Ventas-icon" class="size-7" />
                    <p>Ventas</p>
                </div>
            </a>

            <!-- Clientes -->
            <a th:href="@{/clientes}"
                class="my-1.5 css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform">
                <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                    <img th:src="@{/img/menu-principal/cliente-icon.svg}" alt="Clientes-icon" class="size-7" />
                    <p>Clientes</p>
                </div>
            </a>

            <!-- Caja -->
            <details class="my-1.5" name="sidebar-menu">
                <summary
                    class="css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform list-none">
                    <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                        <img th:src="@{/img/menu-principal/point-sale.png}" alt="Caja-icon" class="size-7" />
                        <p>Caja</p>
                    </div>
                </summary>
                <ul class="text-wrap w-48 text-sm">
                    <a th:href="@{/caja}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                         hover:scale-105 transition-transform">
                            Administrar caja</li>
                    </a>
                    <a th:href="@{/metodos-pago}">
                        <li class="p-2 pl-12 cursor-pointer hover:bg-slate-950 rounded-xl
                                    hover:scale-105 transition-transform">
                            Metodos de pago</li>
                    </a>
                </ul>
            </details>
            
            <!-- Inventario -->
            <a th:href="@{/inventario}"
                class="my-1.5 css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform">
                <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                    <img th:src="@{/img/menu-principal/inventory.png}" alt="Inventario-icon" class="size-7" />
                    <p>Inventario</p>
                </div>
            </a>

            <!-- Reportes -->
            <a th:href="@{/reportes}"
                class="my-1.5 css-bg-sidebar flex items-center justify-between pr-4 hover:bg-slate-950 rounded-xl cursor-pointer hover:scale-110 transition-transform">
                <div class="p-4 pr-4 pt-2 pb-2 flex gap-5 items-center">
                    <img th:src="@{/img/menu-principal/reports.png}" alt="Reportes-icon" class="size-7" />
                    <p>Reportes</p>
                </div>
            </a>

        </section>

        <hr class="flex-initial h-6 my-4" />

        <button type="button" th:onclick="|window.location.href='@{/login}'|"
            class="mt-2 self-center w-36 mb-5 rounded-xl border-2 border-white text-white p-1.5 hover:scale-110 transition-transform">
            Cerrar sesión
        </button>

    </section>

    <!-- Toggle Button (mobile) -->
    <div class="css-bg-sidebar size-12 fixed bottom-4 left-4 z-30 rounded-full hidden" id="sidebar-toggle"
        onclick="abrirSidebar()">
        <img th:src="@{/img/menu-principal/toggle.svg}" alt="btn-toggle" class="size-8">
    </div>

    <script th:src="@{/js/toggle-button.js}"></script>


</div>