<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Página no encontrada</title>
</head>

<body>
    <main class="h-screen w-screen flex flex-col items-center text-center gap-4 bg-black text-white justify-center">
        <h1 class="text-9xl text-purple-800 font-bold">404</h1>
        <h2 class="text-xl font-bold">Oops, página incorrecta</h2>
        <p class="text-lg">Parece que el sol se tomó un descanso y no se puede encontrar esta página. Pero no te
            preocupes, ¡todavía estamos brillando!</p>
        <p>Regresa a nuestra <a class="text-purple-400 underline" href="/login">página de inicio</a> y recarga energías.</p>
    </main>
</body>

</html>