@import url('../styles.css');

@media screen and (max-width: 1000px) {
    
    table tbody td[data-label="Acciones"] {
        text-align: center;
        padding-top: 15px;
    }

    table tbody td[data-label="Acciones"]::before {
        display: none;
    }

}