@import url('../styles.css');

/* Roles */
.rol {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

@media screen and (max-width: 1000px) {
     /* Ajustar badges de estado y rol */
    .rol {
        font-size: 12px;
    }
}