<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>

<body>
    <main id='main-content' class="flex h-dvh">
        <!-- #region sidebar-->
        <div th:replace="~{fragments/sidebar.html :: sidebar-fragment}"></div>
        <!-- #endregion -->

        <div class="flex-1 h-screen overflow-y-scroll overflow-x-hidden">

            <div th:replace="~{fragments/header.html :: 
                              header-info('Roles','Seguridad > Roles del sistema')}"></div>

            <div class="container">
                <h1 class="text-xl font-black text-wrap my-2 sm:text-2xl">Roles registrados</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Administrador</td>
                            <td><button class="btn-editar">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn-nuevo" onclick="registrar('modalRol')">Nuevo Rol</button>
            </div>
        </div>


        <dialog id="modalRol">
            <div class="modal-header">
                <h2>Registrar Rol</h2>
            </div>

            <form class="modal-body" method="dialog">
                <div class="form-grid">
                    <!-- Nombre del rol -->
                    <div class="form-group">
                        <label for="nombreRol">Nombre del rol</label>
                        <input type="text" id="nombreRol" class="form-input" placeholder="Rol" required>
                    </div>

                    <!-- Estado -->
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select id="estado" class="form-select" required>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-cancelar"
                        onclick="(document.getElementById('modalRol').close())">Cancelar</button>
                    <button type="submit" class="btn-registrar">Registrar</button>
                </div>
            </form>
        </dialog>
    </main>

</body>

</html>